<!doctype html>
<html lang="fr">
<head>
    {% block script %}{% endblock %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>




    <link rel="stylesheet" href="/assets/css/style.css">

    {% block stylesheet %}{% endblock %}
    <link rel="icon" href="/assets/images/favicon.png">
</head>

{% block bodyopen %}<body>{% endblock %}
<nav class="navbar navbar-expand-lg navbar-light arriere mb-1 ">
<img src="./assets/images/terre.jpg" class="terre" alt="terre">
<a class="navbar-brand ml-5 text-white" href="#">EARTH EYES</a>

<button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class=" navbar-collapse d-flex flex-row-reverse" id="navbarNavAltMarkup">

    <div class="">

        <form class=" form-inline my-0  my-lg-2 d-md-flex d-none d-xl-block" method="post" action="/Random/picture">

            <button class="btn btn-outline-success my-2 my-sm-0 d-none d-lg-block d-xl-block" type="submit">Caméra aléatoire</button>
        </form>

    </div>
</div>
</nav>
<div class="collapse offset-8 col-4" id="navbarToggleExternalContent">
    <div class="bg-warnec" data-toggle="collapse">
        <a class="nav-item nav-link active text-white" href="">Caméra aléatoire</a>

    </div>
</div>
{% block content %}{% endblock %}
</body>
</html>


